# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
web-api/Python/.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# VS Code (if you ever use it)
.vscode/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy, Pyre, etc.
.mypy_cache/
.dmypy.json
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Env Files
.env